<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <form>
    <ion-grid class="set-grid">

      <ion-row>
        <ion-col class="ion-text-center">
          <img src="assets/logo_devskill.png">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <h6>Benvenuti</h6>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-item class="ion-text-start">
            <ion-label for="username" position="floating">username</ion-label>
            <ion-input type="text" id="name" name="name"></ion-input>
            <ion-icon slot="end" name="mail-sharp"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          
        </ion-col>
        <ion-col>
          <ion-item class="ion-text-start">
            <ion-label for="user-pass" position="floating">password</ion-label>
            <ion-input type="password" id="user-pass" name="user-pass"></ion-input>
            <ion-icon slot="end" name="lock-closed"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          
        </ion-col>
        <ion-col >
            <ion-button class="ion-float-right">LOGIN</ion-button>
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>
    
    
    </ion-grid>
  </form>


</ion-content>
