<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <form  [formGroup]="loginForm" (ngSubmit)="mySubmit" class="center">
    <ion-grid class="set-grid">

      <app-title-devskill text="Entra nel mondo di DevSkill"></app-title-devskill>

      <ion-row class="login-row">
        <ion-col>
          <ion-item class="ion-text-start">
            <ion-label class="text-call" for="uname" position="floating">{{userName}}</ion-label>
            <ion-input formControlName="nome" [(ngModel)] ="username" (ngModelChange)="control()" type="text" id="uname" name="uname"></ion-input>
            <ion-icon slot="end" name="mail-sharp"></ion-icon>
          </ion-item>
          <p class="text-under">Inserisci username</p>          
        </ion-col>
      </ion-row>

      <ion-row class="login-row">
        <ion-col>          
          <ion-item class="ion-text-start">
            <ion-label class="text-call" for="user-pass" position="floating">{{userPass}}</ion-label>
            <ion-input formControlName="password" [(ngModel)] ="password" (ngModelChange)="control()" type="password" id="user-pass" name="user-pass"></ion-input>
            <ion-icon slot="end" name="lock-closed"></ion-icon>
          </ion-item>
          <p class="text-under">Inserisci password</p>          
        </ion-col>
      </ion-row>
<!-- 
      <ion-row class="button-row">
          <ion-col >
            <ion-button (click)="click()" [disabled] = "isButtonDisabled" class="ion-float-right my-button">LOGIN</ion-button>
          </ion-col>
      </ion-row> -->
      <ion-row class="button-row">
        <ion-col >
          <app-button-devskill link="/register" text="REGISTRATI"> </app-button-devskill>
        </ion-col>
        <ion-col >
          <app-button-devskill [disabled]="!loginForm.valid" text="LOGIN"></app-button-devskill>
        </ion-col>
      </ion-row>
        
    </ion-grid>

  </form>

</ion-content>
