<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <form [formGroup]="registerForm" >
    <ion-grid class="set-grid">

      <app-title-devskill text="Registrati nel mondo di DevSkill"></app-title-devskill>
      
      <ion-row class="regist-row">
        <ion-col>
          <ion-item class="ion-text-start">
            <ion-label class="text-call" for="name" position="floating">nome e cognome</ion-label>
            <ion-input type="text" formControlName="nome" id="name" name="name"></ion-input>
            <ion-icon slot="end" name="person-add"></ion-icon>
          </ion-item>
          <p class="text-under">Inserisci nome e cognome</p>          
        </ion-col>
      </ion-row>

      <ion-row class="regist-row">
        <ion-col>
          <ion-item class="ion-text-start">
            <ion-label class="text-call" for="uname" position="floating">username</ion-label>
            <ion-input type="text" formControlName="username" id="uname" name="uname"></ion-input>
            <ion-icon slot="end" name="mail-sharp"></ion-icon>
          </ion-item>
          <p class="text-under">Inserisci e-mail</p>          
        </ion-col>
      </ion-row>

      <ion-row class="regist-row">
        <ion-col>          
          <ion-item class="ion-text-start">
            <ion-label class="text-call" for="user-pass" position="floating">password</ion-label>
            <ion-input type="password" formControlName="password" id="user-pass" name="user-pass"></ion-input>
            <ion-icon slot="end" name="lock-closed"></ion-icon>
          </ion-item>
          <p class="text-under">Inserisci password</p>          
        </ion-col>
      </ion-row>

      <!-- <ion-row class="button-row">
          <ion-col >
            <ion-button class="ion-float-right my-button">REGISTRATI</ion-button>
          </ion-col>
      </ion-row> -->
      <ion-row class="button-row">
        <ion-col >
          <app-button-devskill link="/login" text="LOGIN"> </app-button-devskill>
        </ion-col>
        <ion-col >
          <app-button-devskill text="REGISTRATI"> </app-button-devskill>
        </ion-col>
        
      </ion-row>
     
        
    </ion-grid>
  </form>


</ion-content>
