.set-grid {
    max-width: 420px;
}

.text-under {
    font-size: 12px;
}

.text-call, .text-under {
    color: gray;
}

.logo-row {
    margin-top: 75px;
}

.welcome-row {
    margin-top: 60px;
    margin-bottom: 60px;
}

.regist-row {
    margin-left: 40px;
}

ion-icon {
    color: rgb(41, 41, 110);
}

.my-button {
    --background: rgb(41, 41, 110); 
}

